.questions-container {
    display: flex;
    flex-direction: column;
    padding: 2.25em 1em 0 1em;
}

main {
    height: 0%;
}

.check-ans-btn {
    padding: 0.92em 1.5em;
}

.check-ans-btn, .reset-btn {
    border: none;
    font-size: 0.8125rem;
    font-family: Inter, serif;
    font-weight: 600;
    background-color: #4D5B9E;
    color: #F5F7FB;
    border-radius: 12px;
    cursor: pointer;
}

.reset-btn {
    padding: 0.64em 1.38em;
}

.results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-top: 0.875em;
}

.score-text {
    color: #293264;
    font-size: 0.90625rem;
    font-family: Inter, serif;
    font-weight: 700;
    max-width: 164px;
}

.question-wrapper {
    display: flex;
    flex-direction: column;
    color: #293264;
    border-bottom: 2px solid #DBDEF0;
    padding-bottom: 1.5em;
}

.question-wrapper:not(:last-of-type) { /* add margin-bottom to all questions except the last one*/
    margin-bottom: 0.875em;
}

p {
    margin: 0;
}

.question {
    font-size: 1.125rem;
    font-family: Karla, sans-serif;
    font-weight: 700;
    margin-bottom: 1em;
}

.answers-container {
    display: flex;
    gap: 1.25em;
    flex-wrap: wrap;
}

input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.answer-label {
    border: 1px solid #4D5B9E;
}

input[type="radio"]:checked + .answer-label,
input[type="radio"]:focus + .answer-label  {
    background-color: #D6DBF5;
    border: transparent;
}

.answer-label, .correct, .incorrect, .unselected-correct {
    border-radius: 11px;
    font-size: 0.8125rem;
    font-family: Inter, serif;
    font-weight: 500;
    padding: 0.36em 1.2em;
    cursor: pointer;
}

input[type="radio"]:disabled + label {
    cursor: not-allowed;
}

.correct, .unselected-correct {
    background-color: #94D7A2;
    border: none;
}

.unselected-correct {
    opacity: 50%;
}

.incorrect {
    background-color: #F8BCBC;
    opacity: 50%;
    border: none;
}

.top-right-quiz {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: calc(158px * 0.6);
    height: calc(141px * 0.6);
}
  
.bottom-left-quiz {
    margin-right: auto;
    width: calc(148px * 0.44);
    height: calc(118px * 0.44);
}

@media (min-width: 380px) {
    .score-text {
        max-width: fit-content;
    }
}

@media (min-width: 480px) {
    .questions-container {
        padding: 2.5em 1.5em 0 1.5em;
    }
}

@media (min-width: 590px) {
    .questions-container {
        padding: 2.75em 1.5em 0 1.5em;
    }

    .top-right-quiz,
    .bottom-left-quiz {
        position: absolute;
    }

    .top-right-quiz {
        top: 0;
        right: 0;
        width: initial;
        height: initial;
    }
      
    .bottom-left-quiz {
        bottom: 0;
        left: 0;
        width: initial;
        height: initial;
    }

    .question {
        font-size: 1.3125rem;
        margin-bottom: 1em;
    }

    .answer-label, .correct, .incorrect, .unselected-correct {
        font-size: 0.9375rem;
        padding: 0.33em 1.2em;
    }

    .results-container {
        gap: 1.625em;
        margin-top: 1.43em;
    }

    .check-ans-btn, .reset-btn {
        font-size: 0.875rem;
    }

    .score-text {
        font-size: 1rem;
    }

    .answers-container {
        gap: 1.5em;
    }

    .check-ans-btn {
        padding: 1em 1.5em;
    }

    .reset-btn {
        padding: 0.64em 1.5em;
    }
}

@media (min-width: 770px) {
    .questions-container {
        padding: 2.5em 1.5em 0 1.5em;
    }
}

@media (min-width: 830px) {
    main {
        height: 100vh;
    }
    
    .questions-container {
        padding: 1.5em 1.5em 0;
    }

    .questions-container {
        max-width: 1100px;
    }
}